.experience-component .referral {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--inner-gap);
}

/* COMPANY INFO */

.experience-component .referral .company-info {
  display: flex;
  align-items: start;
  gap: var(--inner-gap);
}

.experience-component .referral .company-info .img-wrapper {
  width: 48px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--clr-light);
  border-radius: 5px;
  background: var(--clr-white);
  transition: var(--transition);
}
.experience-component .referral .company-info .img-wrapper img {
  width: 70%;
  transition: var(--transition);
  border-radius: 5px;
}
.experience-component .referral .company-info .img-wrapper:hover {
  transform: rotate(45deg) scale(0.8);
}
.experience-component .referral .company-info .img-wrapper:hover img {
  transform: rotate(-45deg);
}

/* TIMEFRAME */

.experience-component .referral .timeframe {
  display: flex;
  align-items: center;
  gap: 5px;
}
.experience-component .referral .timeframe img {
  max-width: 15px;
}

/* WEBSITES */

.experience-component .referral .website-screens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--global-gap);
  margin-top: var(--inner-gap);
}
.experience-component .referral .website-screens .ss-wrapper {
  overflow: hidden;
  border: 1px solid var(--clr-light);
  border-radius: var(--border-radius);
}
.experience-component .referral .website-screens .ss-wrapper img {
  width: 100%;
}

/* SPACER */

.experience-component .spacer {
  width: 100%;
  height: 1px;
  background: var(--clr-light);
  margin-block: var(--global-gap);
}
.experience-component .spacer:last-of-type {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  .experience-component .referral .website-screens {
    grid-template-columns: repeat(1, 1fr);
  }
  .experience-component .referral .company-info .img-wrapper {
    width: 40px;
  }
}
