.profile-component {
  align-items: center !important;
}

/* IMAGE */

.profile-component .img-wrapper {
  max-width: 200px;
  aspect-ratio: 1;
  border: 1px solid var(--clr-light);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-component .img-wrapper img {
  width: 100%;
}

/* INFO */

.profile-component .info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--inner-gap);
  align-items: start;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-light);
}

/* SOCIALS */

.profile-component .contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--inner-gap);
}
.profile-component .contact-wrapper .contact {
  display: flex;
  align-items: center;
  gap: var(--inner-gap);
}
.profile-component .contact-wrapper .contact img {
  max-width: 18px;
}

/* CONTACT */

form {
  width: 100%;
  min-width: 0;
  max-width: none;
  background: transparent;
}

input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  background: transparent;
  border: 1px solid var(--clr-light);
  border-radius: var(--border-radius);
  transition: var(--transition);
}
input {
  height: 40px;
  padding: 5px 15px;
}
textarea {
  min-height: 80px;
  padding: 10px 15px;
  min-width: 100%;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--clr-black);
}

.profile-component .contact-btns {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--inner-gap);
}

.profile-component .contact-btns .return-btn {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid var(--clr-light);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
.profile-component .contact-btns .return-btn:hover {
  border: 1px solid var(--clr-text);
}

.profile-component .contact-btns .btn.blocked {
  background: var(--clr-text);
  pointer-events: none;
}
